.titleNote{
  	background-color: grey;
	flex-grow: 1;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding:2px;
}

.boxNote{
  	min-width: 300px;
	border: 1px solid lightsteelblue;
	margin-top: 20px;
	margin-right: 3px;
	word-wrap: break-word;
	display: inline-block;
}

#notes{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category{
	background: #282c34;
	color: white;
	padding: 10px;
}

.textNote{
	width: 300px;
	padding: 7px;
	background: aliceblue;
}

textarea{
	display: block;
	margin-top: 15px;
}

.filterContainer{
	padding-top: 15px;
}
button{
	background: grey;
	margin-top: 15px;
	padding:10px;
	font-weight: bold;
	border-radius: 10px;
	border: none;
}

.addNote:hover{
	color: white;
	background: #282c34;
}

.eliminar{
	background: red;
	color: white;
	border: none;
	padding: 9px;
	align-self: stretch;
	margin: 0;
	border-radius: 0px;


}
.title{
	display: flex;
}

span{
	font-size: 15px;
	margin-right: 4px;
}

.selectInput {
	padding: 8px;
	display: flex;
}